/*-------------------------------------------
    Colors
-------------------------------------------*/
/*-------------------------------------------
    Sizes
-------------------------------------------*/
/*-------------------------------------------
    Fonts
-------------------------------------------*/
/*$body-font: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;*/
/*-------------------------------------------
    Media Queries
-------------------------------------------*/
/* 980px / 16px; */
/* 1140px / 16px; */
/*-------------------------------------------
    Px to Em conversion
-------------------------------------------*/
/* usage: font-size: em(18) */
/*-------------------------------------------
    Px to Rem conversion
-------------------------------------------*/
/* usage
    p {
        @include font-size(13);
    }
*/
/* =============================================================================
    Vertical Gradient with solid colour back-up
    ========================================================================= */
/* Example

body {
    @include gradient($color: #F5F5F5, $start-color: #EEE, $end-color: #FFF);
}

*/
/* =============================================================================
    Transition mixin with speed and timing function
    ========================================================================= */
/* Example

a {
    @include transition(0.3s, ease-out);
}

*/
/* =============================================================================
    Border radius containing background clip
    ========================================================================= */
/* Example

div {
    @include border-radius(4px 0 0 4px);
}

*/
/* =============================================================================
    Box-shadow complete with vendor prefixes, up to 5 shadow parameters
    ========================================================================= */
/* Example

div {
    @include box-shadow(
        0 0 5px 5px rgba(0,0,0,0.25),
        inset 0 0 5px rgba(0,0,0,0.25),
    );
}

*/
/* =============================================================================
    Calculate fluid ratio for an image based on two dimensions (width/height)
    - http://goo.gl/Wl694
    ========================================================================= */
/* Example - The following will have fluid ratio from 4:1 at 800px to 2:1 at 300px.

    HTML:
    <div class="column">
        <figure class="fixedratio"></figure>
    </div>

    CSS:
    .column {
        max-width: 800px;
    }
    .fixedratio {
        @include fluid-ratio(800px 200px, 300px 150px);
        background-image: url(/path/to/file/);
    }

*/
/* line 5, ../scss/site.scss */
body {
  background-color: #292929;
  background-image: url("../images/background.jpg");
  background-repeat: repeat-x;
}

/* Nav Overrides */
/* line 13, ../scss/site.scss */
.header {
  background-color: rgba(29, 29, 29, 0.55);
}

/* line 17, ../scss/site.scss */
.logo {
  color: white;
}

/* line 21, ../scss/site.scss */
.bg {
  background: white;
}

/* Main Nav Color Override */
@media screen and (min-width: 768px) {
  /* line 27, ../scss/site.scss */
  .nav-main li:first-child {
    border-left: none;
  }

  /* line 30, ../scss/site.scss */
  .nav-main li {
    border-right: none;
  }

  /* line 33, ../scss/site.scss */
  .nav-main a {
    color: white;
  }
}
/* line 38, ../scss/site.scss */
.mod h3 {
  color: white;
}

/* line 42, ../scss/site.scss */
aside .mod h3 {
  color: #333;
}

/* Fix Staff Background */
/* line 50, ../scss/site.scss */
.initiatives-container {
  background-color: white;
}

/* line 52, ../scss/site.scss */
#gradient {
  margin: auto;
  min-height: 700px;
  background: #f5f5f5;
  -webkit-box-shadow: #b7b7b7 1px 1px 6px 1px inset;
}

/* line 59, ../scss/site.scss */
#content1 {
  margin-bottom: -10px;
}

/* line 63, ../scss/site.scss */
#content {
  padding-top: 13px;
  margin: auto;
  position: relative;
  min-height: 700px;
  background: #f5f5f5;
  -webkit-box-shadow: #b7b7b7 1px 1px 6px 1px inset;
}

/* line 72, ../scss/site.scss */
#content ul {
  padding: 5px;
}

/* line 76, ../scss/site.scss */
tr.odd {
  background: #FFFFFF;
}

/* line 81, ../scss/site.scss */
td.name {
  width: 255px;
  padding: 80px;
}

/* line 90, ../scss/site.scss */
tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}

/* line 96, ../scss/site.scss */
td.initiative {
  padding: 20px;
}

/* line 100, ../scss/site.scss */
td.img {
  width: 250px;
  background-color: #cfcfcf;
}

/* line 105, ../scss/site.scss */
td {
  padding: 10px;
}

/* line 109, ../scss/site.scss */
table.meetings {
  border-collapse: separate;
  width: 100%;
}

/* line 114, ../scss/site.scss */
table.meetings th {
  font-size: 1.3em;
  color: #333;
  border-top: none;
}

/* line 120, ../scss/site.scss */
table.meetings a {
  display: inline-block;
}

/* line 124, ../scss/site.scss */
.button:hover {
  background: #ebebeb;
  text-decoration: none;
}

/* line 129, ../scss/site.scss */
.button {
  background: #f0f0f0;
  padding: 4px;
}

/* line 136, ../scss/site.scss */
.typography td a {
  color: #334371;
}

/* line 140, ../scss/site.scss */
.innerContent {
  margin-top: 54px;
  margin: 0 auto;
  max-width: 1196px;
  padding: 2em;
}

/* line 147, ../scss/site.scss */
.MainImage {
  height: 549px;
}

/* Topics in Subfooter */
/* line 153, ../scss/site.scss */
.topics a {
  color: #ffedb8;
}

/* line 157, ../scss/site.scss */
.topics {
  color: #ccc;
}

/* line 161, ../scss/site.scss */
.footer {
  border: none;
}

/* Initiative Page*/
/* line 168, ../scss/site.scss */
.initiatives-title {
  clear: both;
}

/* line 171, ../scss/site.scss */
.initiatives-list {
  font-size: 0.1px;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: justify;
}

/* line 178, ../scss/site.scss */
.initiatives-list:after {
  /* http://www.barrelny.com/blog/text-align-justify-and-rwd/ */
  content: '';
  display: inline-block;
  width: 100%;
}

/* line 183, ../scss/site.scss */
.initiatives-list li {
  font-size: 15px;
  font-size: 1rem;
  margin: 3px;
  vertical-align: top;
  text-align: left;
}
@media screen and (min-width: 480px) {
  /* line 183, ../scss/site.scss */
  .initiatives-list li {
    float: left;
    width: 49%;
    padding: 0;
  }
}

/* line 197, ../scss/site.scss */
.initiatives-list .filler {
  height: 0;
  margin: 0;
}

/* line 201, ../scss/site.scss */
.initiatives-img {
  width: 100%;
}

/* line 204, ../scss/site.scss */
.initiatives-link {
  display: block;
  margin-bottom: 0;
  position: relative;
}

/* line 209, ../scss/site.scss */
.initiatives-link:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

/* line 219, ../scss/site.scss */
.initiatives-link:hover:before {
  border: 4px solid #ffce39;
}

/* line 222, ../scss/site.scss */
.initiatives-name {
  margin: 0;
}

/* line 223, ../scss/site.scss */
.initiatives-position {
  display: block;
}

/* line 226, ../scss/site.scss */
.initiatives-name {
  margin: 0;
}

/* Staff Page */
/* line 233, ../scss/site.scss */
.NoLogo {
  position: absolute;
  font-family: "proxima-nova-condensed", sans-serif;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 22%;
  font-size: 1.5rem;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  line-height: 1em;
  width: 100%;
}
@media screen and (min-width: 480px) {
  /* line 233, ../scss/site.scss */
  .NoLogo {
    padding-top: 21%;
    font-size: 1.2rem;
    color: white;
  }
}
@media screen and (min-width: 586px) {
  /* line 233, ../scss/site.scss */
  .NoLogo {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 1132px) {
  /* line 233, ../scss/site.scss */
  .NoLogo {
    padding-left: .4em;
    padding-right: .4em;
    padding-top: 20%;
    font-size: 2rem;
  }
}

/* line 262, ../scss/site.scss */
.main-content.initiatives {
  padding: 0;
  margin: 0;
}

@media screen and (min-width: 768px) {
  /* line 267, ../scss/site.scss */
  .initiatives-content {
    background: #fff;
    border-right: 1px solid #ddd;
    width: 72%;
    position: relative;
    padding: 2em 1em 3em 2em;
    float: left;
  }
}

/* HomePage Twitter Feed */
/* line 280, ../scss/site.scss */
.module.twitter {
  border: none;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -ms-box-shadow: none;
  background: none;
}

/* line 289, ../scss/site.scss */
.module.facebook * {
  width: 100%;
}

/* line 293, ../scss/site.scss */
.module.facebook {
  border-top: 4px solid #ffce39;
}

/* line 297, ../scss/site.scss */
.module.question-box .inner {
  border-top: 4px solid #ffce39;
}

/* line 301, ../scss/site.scss */
.module.latest-post .inner {
  border-top: 4px solid #ffce39;
}

/* line 306, ../scss/site.scss */
.twitter-timeline {
  min-width: 100%;
  display: block;
}

/* HomePage Contact Form Styles */
/* line 313, ../scss/site.scss */
#Form_ContactForm .Actions {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
}

/*Sidebar Contact Form Styles */
/* line 322, ../scss/site.scss */
.side-contact {
  margin-left: 10px;
}

/*Button*/
/* line 329, ../scss/site.scss */
.page-button {
  font-family: proxima-nova, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background: none;
  border: 1px solid #ddd;
  padding: 10px;
}
